<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>{% block title %}{% endblock %} | {{ blog_name }}</title>
<meta name="author" content="{{ author }}">
<meta name="description" content="{{ description }}" />
<link rel="shortcut icon" type="image/ico" href="/static/favicon.ico">
<link href="/static/markbook/css/style.css" rel="stylesheet" type="text/css" media="all">
<link href="/static/markbook/css/solarized.css" rel="stylesheet" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="/static/markbook/home.js"></script>
</head>
<body>
<img class='bg-image' src="/static/markbook/images/background.jpg" />
{% if not context.is_mobile %}
<header id="header" class="clearfix header-fixed-top">
{% else %}
<header id="mobile-header" class="clearfix">
{% endif %}
<div class="nav">
    <h1><a href="/">{{ blog_name }}</a></h1>
<ul>
<li><a href="/post/about-me">About</a></li>
<!-- <li><a href="/blog/picky">Picky</a></li> -->
<li><a href="/post/links">Links</a></li>
<li><a href="/archives">Archives</a></li>
<li><a href="/tags">Tags</a></li>
<li><a href="/admin/">Management</a></li>
</ul>
</div>
</header>

{% block content %}{% endblock %}

</body>
</html>

