{% extends "markbook/page.html" %}
{% load markdown_deux_tags %}
{% block title %}所有标签{% endblock %}

{% block page_content %}
  <div id="main" class="clearfix">
    <div class="content clearfix">
        <h3>All Tags</h3>

        <section class="group-tags">
        <ul class="tag-box">
            {% for tag, count in tags.items %}
            <li><a href="/tag/{{ tag.name }}">{{ tag.name }}<span>{{ count }}</span></a></li>
            {% endfor %}
        </ul>
        </section>
        <hr>
        <blockquote> 
            <small><a href="/tags" title="Tags">{{ tags|length }}</a></small>
        </blockquote>
    </div>
  </div>
{% endblock %}
